{# Master English template that includes all pages #}
{% extends "base/report_layout.j2" %}

{% block title %}Comprehensive Fecal Examination - {{ patient.name }}{% endblock %}

{% block content %}
{# Page 1: Title Page #}
<div class="page page-1">
    {% include 'en/pages/page1_title.j2' %}
</div>

{# Page 2: Sequencing Results #}
<div class="page page-2">
    {% include 'en/pages/page2_sequencing.j2' %}
</div>

{# Page 3: Clinical Analysis #}
<div class="page page-3">
    {% include 'en/pages/page3_clinical.j2' %}
</div>

{# Page 4: Laboratory Results #}
<div class="page page-4">
    {% include 'en/pages/page4_laboratory.j2' %}
</div>

{# Page 5: Educational Content #}
<div class="page page-5">
    {% include 'en/pages/page5_educational.j2' %}
</div>
{% endblock %}