{# Reusable footer component #}
<footer class="report-footer">
    <div class="footer-content">
        <div class="lab-info">
            <strong>HippoVet Laboratory</strong><br>
            Veterinary Microbiome Analysis Center<br>
            Accredited Laboratory - ISO 15189
        </div>
        <div class="contact-info">
            Tel: +48 123 456 789<br>
            Email: lab@hippovet.com<br>
            www.hippovet.com
        </div>
        <div class="page-number">
            Page {{ page_num }} of 5
        </div>
    </div>
</footer>