@@ jinja_0 @@
<div class = "Diagonal-Stripes"> </div>
<div class = "DNA-background"> </div>

<div class = "tytuł-page-content">
<div>
<h1 class = "main-title"> kompleksowy <br> kał <br> badanie </h1>
<p class = "subtitle"> dna @@ term_15 @@ </p>
</iv>
    
<div style = "flex-grow: 1; display: flex; flex-direction: kolumna; justify-content: Center;">
<div class = "Pill-row">
<span style = "font-size: 12pt; color: var (-light light); margin-bottom: 5 mm; display: block;"> @@ term_26 @@ Nazwa: </pan>
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
<span style = "font-size: 12pt; color: var (-light light); margines: 0 10 mm;"> @@ term_25 @@ and wiek: </pan>
<span class = "Pill-box"> @@ jinja_0 @@, @@ jinja_1 @@ </pan>
<span style = "font-size: 12pt; color: var (-lampka tekstowa); margines: 0 10 mm;"> Numer testowy: </pan>
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
</iv>
        
<div class = "pigue-row" style = "margin-top: 20 mm;">
<span style = "font-size: 12pt; color: var (-światła tekstowa); margines-bottom: 5 mm; display: block;"> otrzymano materiał: </span>
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
<span style = "font-size: 12pt; color: var (-light light); margin: 0 10 mm;"> @@ term_24 @@ data: </pan>
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
</iv>
        
<div class = "pigue-row" style = "margin-top: 20 mm;">
<span style = "font-size: 12pt; color: var (-światła tekstowa); margin-bottom: 5 mm; display: block;"> wykonywane przez: </pan>
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
<span style = "font-size: 12pt; color: var (-Light Light); margin: 0 10 mm;"> żądane przez: </pan>
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
</iv>
</iv>
    
@@ jinja_0 @@
@@ jinja_0 @@
<div style = "pozycja: absolut; dołu: 80 mm; lewy: 0; po prawej: 0; text-align: Center; z-index: 0;">
<img src = "@@ Jinja_0 @@/DNA_stock_photo.jpg" alt = "" style = "szerokość: 100%; Max-Width: 200 mm; krycie: 0,08;">
</iv>
@@ jinja_0 @@
</iv>

<div class = "page-footer">
<div>
<img src = "@@ jinja_0 @@/Hippovet_logo.png" alt = "Hippovet" class = "logo">
</iv>
<div class = "Page-Dumber"> 1/5 </viv>
<div style = "text-align: right;">
<Strong Style = "Font-size: 14pt; Color: var (-ciemnoniebieski);"> Memt Laboratory </strong>
</iv>
</iv>