@@ jinja_0 @@
<div class = "Content-Header">
<div>
<img src = "@@ jinja_0 @@/Hippovet_logo.png" alt = "Hippovet" class = "logo">
</iv>
<div style = "display: flex; gap: 10px;">
<span class = "Pill-box"> @@ jinja_0 @@ </pan>
<span class = "Pill-box"> @@ jinja_0 @@, @@ jinja_1 @@ </pan>
<span class = "Pill-box"> @@ term_32 @@: @@ jinja_0 @@ </pan>
</iv>
<div style = "text-align: right; font-size: 9pt; linia-height: 1.4;">
<div> Otrzymane: @@ jinja_0 @@ </iv>
<nv> Przeanalizowano: @@ jinja_0 @@ </iv>
<div> Wykonane przez: @@ jinja_0 @@ </iv>
<div> żądane przez: @@ jinja_0 @@ </iv>
</iv>
</iv>

<div class = "Content-Area">
<div class = "sekcja-header"> @@ term_15 @@ @@ term_27 @@ </iv>
    
<h3 style = "color: var (-podstawowy-niebieski); margines-bottom: 10 mm; czcionek: 16pt;"> profil mikrobiotyku </h3>
    
@@ jinja_0 @@
<img src = "@@ jinja_0 @@" alt = "@@ term_25 @@ dystrybucja" class = "Chart-img">
    
<div class = "section-header"> @@ term_28 @@ dystrybucja w gut @@ term_14 @@ </iv>
    
@@ jinja_0 @@
<img src = "@@ jinja_0 @@" alt = "@@ term_28 @@ dystrybucja" class = "Chart-img">
    
@@ jinja_0 @@
<div class = "@@ term_19 @@-indeks">
<div style = "font-size: 24pt; margines-bottom: 5 mm;">
@@ term_19 @@ index (di): @@ jinja_0 @@
</iv>
<div style = "font-size: 14pt;">
Kategoria:
@@ jinja_0 @@
<span class = "Status status-badge-@@ term_30 @@"> @@ term_30 @@@@ term_13 @@ </pan>
@@ jinja_0 @@
<span class = "Status status-badge-@@ term_35 @@"> @@ term_35 @@@@ term_19 @@ </pan>
@@ jinja_0 @@
<span class = "Status status-badge-@@ term_31 @@"> @@ term_31 @@ @@ term_19 @@ </pan>
@@ jinja_0 @@
</iv>
</iv>
    
<p style = "font-size: 10pt; color: var (-lampka tekstowa); text-align: Center; margine-top: 10 mm;">
Skala: 0-5 normobiotyk; 20 nieznacznie @@ term_19 @@; 21-50 @@ term_23 @@; > 50 @@ term_31 @@ @@ term_19 @@@@ term_13 @@
</p>
</iv>

<div class = "page-footer">
<div>
<strong> Laboratorium hipowetów </strong> <br>
<span style = "font-size: 9pt;"> veterinary @@ term_12 @@@@ term_24 @@ Center </pan>
</iv>
<div class = "Page-Dumber"> 2/5 </viv>
<div style = "text-align: right;">
<strong> Memt Laboratory </strong> <br>
<span style = "font-size: 9pt;"> www.hippovet.com </pan>
</iv>
</iv>