@@ jinja_0 @@

@@ jinja_0 @@
@@ jinja_0 @@
@@ term_30 @@ @@ term_13 @@ (zdrowy). Brak znaków @@ term_19 @@; Gut @@ term_14 @@ jest zrównoważony z niewielkimi odchyleniami.
@@ jinja_0 @@
@@ term_35 @@ @@ term_19 @@ wykryty. @@ term_23 @@ nierównowaga w gut @@ term_14 @@ kompozycja wymagająca monitorowania.
@@ jinja_0 @@
@@ term_31 @@ @@ term_19 @@ wykryty. Znaczna nierównowaga w gut @@ term_14 @@ wymaga interwencji.
@@ jinja_0 @@

@@ jinja_0 @@
@@ jinja_0 @@
@@ term_12 @@ @@ term_24 @@ ujawnia skład społeczności bakteryjnych obecnych na @@ term_11 @@. Indeks @@ term_19 @@ zapewnia ilościową miarę @@ term_12 @@ nierównowaga w porównaniu do zdrowych zakresów referencyjnych.

** Kluczowe ustalenia: **
- Total @@ term_25 @@ zidentyfikowano: @@ jinja_0 @@
- @@ term_19 @@ indeks: @@ jinja_0 @@ (@@ jinja_1 @@)
- dominująca phyla:
@@ jinja_0 @@
@@ jinja_0 @@
@@ jinja_0 @@ (@@ jinja_1 @@%) @@ jinja_2 @@, @@ jinja_3 @@
@@ jinja_0 @@
@@ jinja_0 @@