@@ jinja_0 @@

@@ jinja_0 @@
@@ jinja_0 @@
{％set @@ Term_5 @@ = [
「現在の給餌レジメンを継続」、
「定期的な監視を推奨」、
「ストレスが発生した場合は、プレバイオティクスを検討してください」
]％}
@@ jinja_0 @@
{％set @@ Term_5 @@ = [
「現在の食事療法の組成」、
「プロバイオティクス補給を検討」、
「臨床症状の監視」、
「4〜6週間で再テスト」
]％}
@@ jinja_0 @@
{％set @@ Term_5 @@ = [
「即時の食事介入が必要」、
「獣医の相談を推奨」、
「プロバイオティクス療法が示された」、
「2〜3週間でのフォローアップテスト」
]％}
@@ jinja_0 @@

@@ jinja_0 @@
<div class = "busmentation-item">•@@ jinja_0 @@ </div>
@@ jinja_0 @@
@@ jinja_0 @@

@@ jinja_0 @@
@@ jinja_0 @@
- 現在の給餌レジメンを継続します
- 定期的な監視をお勧めします
- ストレスが発生した場合は、プレバイオティクスを検討してください
@@ jinja_0 @@

@@ jinja_0 @@
- 現在のダイエット組成を確認します
- プロバイオティクス補給を検討してください
- 臨床症状を監視します
-  4〜6週間で再テストします
@@ jinja_0 @@

@@ jinja_0 @@
- 即時の食事介入が必要です
- 獣医相談をお勧めします
- プロバイオティクス療法が示されています
-  2〜3週間でのフォローアップテスト
@@ jinja_0 @@